<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>About
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src="../assets/logo.jpg" alt="" class="imgs"></ion-img>
      <ion-card-title>SPOTISHEESH</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Spotisheesh is a digital music, podcast, and video service that gives you access to millions of songs and other content from creators all over the world.
      Basic functions such as playing music are totally free, but you can also choose to upgrade to Spotisheesh Premium.
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button href="https://twitter.com/"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      <ion-fab-button href="https://mail.google.com/mail/u/0/"><ion-icon name="logo-google"></ion-icon></ion-fab-button>
      <ion-fab-button href="about"><ion-icon name="information-circle-sharp"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  


</ion-content>