<ion-content>
  <ion-card class="container">
    <img src="../assets/11.png" alt="" class="img">
    <ion-card-header>
     <h2><ion-card-title class="ion-text-center">Spotisheesh</ion-card-title></h2>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button  defaultHref="sign-up"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input class="input" type="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input class="input" type="password" name="password"></ion-input>
      </ion-item>
      <ion-button class="button" expand="block" fill="outline" href="home" >Login</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>